{% extends 'authapp/base.html' %}
{% load static %}
{% load my_tags %}


{% block content %}
    <div class="h2 text-center head">
                Редактирование профиля
    </div>
    <form class="form-horizontal" action="{% url 'auth:edit' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ edit_form.as_p }}
        {{ profile_form.as_p }}
        <input class="form-control" type="submit" value="сохранить">
    </form>
    <button class="btn btn-round form-control last">
        <a href="{% url 'index' %}" class="">
            на главную
        </a>
    </button>
    <div class="user_avatar"><img src="
    {% if not user.avatar and user.avatar_url %}
        {{ user.avatar_url }}
    {% else %}
        {{ user.avatar|media_for_users }}

    {% endif %}">
    </div>
{% endblock %}