{% extends 'authapp/base.html' %}
{% load static %}

{% block content %}
   <div class="category_delete">
       <div class="h1">Уверены, что хотите удалить из избранного?</div>
       {{ object.product.name }}
       <form action="{% url 'authapp:favourite_delete' object.pk %}" method="post">
           {% csrf_token %}
           <input class="btn btn-danger" type="submit" value="удалить">
       </form>
       <button class="btn btn-success">
           <a href="{% url 'authapp:favourite' %}">отмена</a>
       </button>
   </div>
{% endblock %}