{% if object.status == 'FM' %}
   <button class="btn btn-warning btn-round form-control last">
       <a href="{% url 'ordersapp:order_forming_complete' object.pk %}">
           совершить покупку
       </a>
   </button>
   <button class="btn btn-default btn-round form-control last">
       <a href="{% url 'ordersapp:delete' object.pk %}">удалить</a>
   </button>
{% endif %}
{% if object.status == 'STP' %}
    <form name="payment" method="post" action="https://sci.interkassa.com/" accept-charset="UTF-8">
        <input type="hidden" name="ik_co_id" value="{{ ik_co_id }}"/>
        <input type="hidden" name="ik_pm_no" value="{{ object.pk }}"/>
        <input type="hidden" name="ik_am" value="{{ object.get_total_cost }}"/>
        <input type="hidden" name="ik_desc" value="оплата по заказу №{{object.pk}}"/>
        <input class="btn btn-default btn-round form-control last" type="submit" value="Оплатить">
    </form>
{% endif %}
<button class="btn btn-info btn-round form-control last">
   <a href="{% url 'ordersapp:list' %}">
       к списку заказов
   </a>
</button>
<button class="btn btn-default btn-round form-control last">
   <a href="{% url 'index' %}">на главную</a>
</button>
